{% load i18n static cms_tags menu_tags sekizai_tags  proportion %}

{%addtoblock "js" %} <script src="{% static 'cms/js/libs/jquery.min.js' %}"> </script> {%endaddtoblock%}
{%addtoblock "js" %} <script src="{% static 'responsive/js/responsive.js' %}"> </script> {%endaddtoblock%}
{% addtoblock "js" %}
<script>

  if($ == undefined){
    JQ = CMS.$;
  }else{
     JQ = $;
    }
 (function($) {
 	$(document).ready(function(){
 
    activeItem = $("#accordion-{{ accordion.pk }} li:first");
    $(activeItem).addClass('active');
 
    $("#accordion-{{ accordion.pk }} li").hover(function(){
        $(activeItem).animate({width: "{{device_info.width|proportion_resize:5 }}px"}, {duration:300, queue:false});
        $(this).animate({width: "{{device_info.width}}px"}, {duration:300, queue:false});
        activeItem = this;
    });
    	$("#accordion-{{ accordion.pk }} li").each(function(key, value){
    		console.log($(value));
    		console.log(key);
    		$(value).attr('style', "width: {{device_info.width|proportion_resize:5 }}px; overflow: hidden;");
    	});
 		$("#accordion-{{ accordion.pk }} li:first").animate(
 			{width: "{{device_info.width}}px"}, {duration:300, queue:false});
 	});
})(JQ);

</script>
{% endaddtoblock "js" %}

{{device_info}}
{%addtoblock "css" %}<link href="{% static 'css/accordion_presentation.css' %}" rel="stylesheet">{%endaddtoblock "css"%}
{%addtoblock "css" %}<link href="{% static 'css/simplegrid.css' %}" rel="stylesheet">{%endaddtoblock "css"%}

<ul class="ap_accordion" id="accordion-{{ accordion.pk }}">
    {% for plugin in accordion.child_plugin_instances %}
		{% with forloop as parentloop %}{% render_plugin plugin %}{% endwith %}
    {% endfor %}
</ul>
