{% load i18n static cms_tags menu_tags sekizai_tags  %}

{%addtoblock "js" %} <script src="{% static 'cms/js/libs/jquery.min.js' %}"> </script> {%endaddtoblock%}
{% addtoblock "js" %}
<script>
{% include 'accordion_presentation/js_blind.js'%}
</script>
{% endaddtoblock "js" %}

{# we can use this {{device_info}} #}
{%addtoblock "css" %}<link href="{% static 'css/accordion_presentation.css' %}" rel="stylesheet">{%endaddtoblock "css"%}
{%addtoblock "css" %}<link href="{% static 'css/simplegrid.css' %}" rel="stylesheet">{%endaddtoblock "css"%}

<ul class="ap_accordion {{accordion.custom_classes}}" id="accordion-{{ accordion.pk }}">
    {% for plugin in accordion.child_plugin_instances %}
		{% with forloop as parentloop %}{% render_plugin plugin %}{% endwith %}
    {% endfor %}
</ul>
