


<li id="{{instance.pk}}" class="accordion_presentation" >
   <div class="grid grid-pad" style="padding-left: 2px !important;">
	    <div class="col-2-12 ap_banner" style="background-color: {{instance.color}}" >
		    <div class="content">
		    	 <div class="ap_icon">
		    	 	<img src="{{instance.icon.url}}" class="ap_icon"/>
		    	 </div>
		    	  
	  			  <p class="ap_title"> {{instance.title}}</p>
		    </div>
	    </div>
	    <div class="col-10-12 ap_content">
		    		{% if instance.page_link %}<a href="{{instance.page_link.get_absolute_url }}">  {%endif%}
					<img class="ap_img" src="{{instance.photo.url}}" />
					<p class="ap_description"> {{instance.short_description}} </p>
					{% if instance.page_link %}</a>{%endif%}
	    </div>
    </div>

</li>



